.App {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  img {
    max-width: 100%;
    margin-top: 20px;
  }
  